---
import { getCollection } from "astro:content";
import FireworksCommandLayout from "@/layouts/FireworksCommandLayout.astro";
import FireworksArticle from "@/components/FireworksArticle.astro";
import PackageContents from "@/components/PackageContents.astro";
import { getIncImage } from "@/utils/getIncImage";
import { getMxpLinks } from "@/utils/getMxpLinks.ts";

export async function getStaticPaths()
{
	const commands = await getCollection("commands");

	return commands.map((entry) => ({
		params: {
			slug: entry.slug
		},
		props: {
			entry
		},
	}));
}

const { entry: { render, slug, data: { name, files, fileVersion, version, date } } } = Astro.props;
const { Content } = await render();
const imageData = !!slug && await getIncImage(`${slug}.png`);
const mxpLinks = await getMxpLinks();
const downloadLink = mxpLinks.get(fileVersion);
---

<FireworksCommandLayout
	title={name}
	disqusID={`fireworks/about/${slug}`}
>
	<FireworksArticle
		title={name}
		heroImage={imageData}
	>
		<div class="links">
			<span>
				<a href={downloadLink}>Download {version}.mxp</a>
				<time>{date}</time>
			</span>
			<a href="#disqus_thread">Comment</a>
		</div>
		<Content />
	</FireworksArticle>

	<PackageContents files={files} />
</FireworksCommandLayout>

<style lang="scss">
	.links {
	  margin-bottom: 3rem;
		display: flex;
		justify-content: space-between;

		a {
		  font-weight: bold;
	  }

		time {
			color: var(--text-color-secondary);
			font-weight: normal;
			display: inline-block;
			margin-left: 1rem;
		}
  }
</style>
